*.egg-info/
*.pyc
pg/*.pyc
maddpg/*.pyc
*.DS_Store
gym/
.idea/
reports/milestone/*.aux
reports/milestone/*.blg
reports/milestone/*.log
reports/milestone/*.synctex
reports/milestone/*.fdb_latexmk
reports/milestone/*.synctex.gz
reports/milestone/*.fls
.env/*
.en/*
*.aux
*.bbl
*.blg
*.log
*.synctex
*.aux
*.log
*.synctex
